@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

:root {
	--bg-color: #f9f3e5;
	--header-color: var(--medium-yellow);
	--span-color: var(--medium-blue);
	--text-color: var(--dark-gray);
	--light-yellow: #f5d89a;
	--medium-yellow: #ffd16f;
	--light-blue: #9abaf5;
	--medium-blue: #5791fd;
	--light-pink: #f59ac8;
	--medium-pink: #ff79bc;
	--light-green: #9af59a;
	--medium-green: #5de35d;
	--light-gray: #a09886;
	--dark-gray: #33322e;

	--border: 3px solid var(--dark-gray);
	--box-shadow: 3% 3% 0 var(--dark-gray);
	--box-shadow-hover: 7% 7% 0% var(--dark-gray);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", "Segoe UI", sans-serif;
}

body {
	background-color: var(--bg-color);
}

header {
	background-color: var(--header-color);
	position: fixed;
	width: 100vw;
	height: 100px;
	padding: 20px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

header h1 a {
	text-decoration: none;
	font-size: 3.5rem;
	color: var(--text-color);
	font-weight: 900;
	letter-spacing: -3px;
	cursor: pointer;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4vw;
}

header .btn-dark-mode {
	font-size: 1.5rem;
	border-radius: 0.5em;
	background: #5791fd;
	border: var(--border);
	box-shadow: var(--box-shadow);
	transition: 0.3s;
	cursor: pointer;
}

header .btn-dark-mode:hover {
	box-shadow: var(--box-shadow-hover);
}

header nav {
	position: relative;
}

header nav ul {
	list-style-type: none;
	display: flex;
	gap: 40px;
}

header nav ul li a {
	text-decoration: none;
	color: var(--text-color);
}

header nav ul li a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 700px) {
	header nav ul {
		position: fixed;
		top: 0;
		left: 130%;
		padding-top: 120px;
		padding-left: 40px;
		width: 280px;
		height: 100vh;
		background-color: var(--header-color);
		flex-direction: column;
		font-size: 1.5em;
		gap: 50px;
		box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
	}

	header nav.active ul {
		transition: 0.3s;
		left: calc(100vw - 280px);
	}

	div#menu-hamburger {
		width: 60px;
		height: 35px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		cursor: pointer;
		position: relative;
		z-index: 1;
	}

	div#menu-hamburger div {
		width: 100%;
		height: 4px;
		background-color: var(--text-color);
		transition: 0.3s;
	}

	header nav.active div#menu-hamburger :nth-child(1) {
		rotate: -45deg;
		translate: 0 15px;
	}

	header nav.active div#menu-hamburger :nth-child(2) {
		translate: 300%;
	}

	header nav.active div#menu-hamburger :nth-child(3) {
		rotate: 45deg;
		translate: 0 -15px;
	}

	.notes-container {
		justify-content: center;
	}
}

main {
	padding: 125px 30px 100px;
	max-width: 1100px;
	margin: auto;
}

main section.new-note {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 25px;
	border-bottom: 3px solid var(--header-color);
	margin-bottom: 25px;
}

main section.new-note h2 {
	font-size: 2.5em;
	line-height: 1.05em;
	width: 350px;
	margin-bottom: 10px;
}

main section.new-note h2 span {
	color: var(--span-color);
	font-weight: 900;
	font-size: 1.5em;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.create-note {
	padding: 10px 20px;
	font-size: 1.2em;
	cursor: pointer;
	color: var(--text-color);
	background-color: var(--header-color);
	border: var(--border);
	border-radius: 0.5em;
	box-shadow: var(--box-shadow);
	transition: 0.2s;
}

.create-note:hover {
	filter: brightness(90%);
	box-shadow: var(--box-shadow-hover);
}

main section.notes h3 {
	font-size: 1.8em;
	font-weight: 700;
}

.notes-container {
	margin: 20px auto;
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

div#no-notes {
	display: none;
}

div#no-notes a {
	font-weight: 900;
	color: var(--text-color);
}

div#no-notes a:hover {
	text-decoration: underline;
}

.note {
	width: 240px;
	border-radius: 0.5em;
	overflow: hidden;
	transition: 0.2s;
	background-color: var(--light-yellow);
	box-shadow: var(--box-shadow);
	border: var(--border);
	height: 100%;
}

.note:hover {
	box-shadow: var(--box-shadow-hover);
}

.note .note-title {
	padding: 8px;
	font-size: 1.2em;
	font-weight: 700;
	border-bottom: var(--border);
	background-color: var(--medium-yellow);
}

.note .note-content {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.note .note-content p {
	margin-bottom: 10px;
}

.note .note-title h4:focus,
.note .note-content p:focus {
	outline: none;
	border-bottom: 1px solid var(--dark-gray);
}

.note .note-content .action-buttons {
	display: flex;
	justify-content: flex-end;
	gap: 5px;
}

.note .note-content .action-buttons button {
	padding: 8px;
	border-radius: 5px;
	border: none;
	background-color: var(--medium-yellow);
	border: var(--border);
	cursor: pointer;
	transition: 0.3s;
}

.note .note-content .action-buttons button:hover {
	filter: brightness(70%);
}

section#create-new-note,
div.container-create-new-note {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
}

section#create-new-note {
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
}

div.container-create-new-note {
	overflow: hidden;
	border-radius: 1em;
	background-color: var(--light-yellow);
	border: var(--border);
	box-shadow: var(--box-shadow);
}

div.create-new-note-header {
	height: 40px;
	width: 100%;
	background-color: var(--medium-yellow);
	border-bottom: var(--border);
	display: flex;
	justify-content: flex-end;
}

div.create-new-note-header button {
	color: var(--text-color);
	background: none;
	border: none;
	font-size: 1.5em;
	padding: 0 0.5em;
	cursor: pointer;
}

div.container-create-new-note form {
	padding: 25px 50px 50px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

div.container-create-new-note form input:not(.create-note),
div.container-create-new-note form textarea {
	font-size: 1.2em;
	padding: 5px;
	outline: none;
	border: none;
}

div.container-create-new-note form input:not(.create-note)::target-text,
div.container-create-new-note form textarea::target-text {
	color: var(--dark-gray);
}

div.note-color {
	padding-bottom: 1em;
	position: relative;
	display: flex;
	position: relative;
	justify-content: space-between;
}

div.container-create-new-note input[type="radio"] {
	visibility: hidden;
	margin-left: 0.7em;
}

div.container-create-new-note input[type="radio"] + label {
	width: 40px;
	height: 40px;
	translate: -20px;
	border: var(--border);
	border-radius: 5px;
	cursor: pointer;
	transition: 0.2s;
}

div.container-create-new-note input[type="radio"]:checked + label {
	box-shadow: var(--box-shadow);
}

input[type="radio"] + label[for="yellow"] {
	background-color: var(--medium-yellow);
}

input[type="radio"]#blue + label[for="blue"] {
	background-color: var(--medium-blue);
}

input[type="radio"]#pink + label[for="pink"] {
	background-color: var(--medium-pink);
}

input[type="radio"]#green + label[for="green"] {
	background-color: var(--medium-green);
}

.p-error {
	display: none;
	margin-top: -0.3em;
	font-size: 0.8em;
	color: red;
}
