@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

:root {
	--ultra-light-yellow: #F9F3E5;
	--light-yellow: #F5D89A;
	--medium-yellow: #ffd16f;
	--light-blue: #9ABAF5;
	--medium-blue: #5791fd;
	--light-pink: #F59AC8;
	--medium-pink: #ff79bc;
	--light-green: #9AF59A;
	--medium-green: #5de35d;
	--light-grey: #A09886;
	--dark-gray: #33322E;

	--border: 3px solid var(--dark-gray);
	--box-shadow: 5px 5px 0px var(--dark-gray);
	--box-shadow-hover: 7px 7px 0px var(--dark-gray);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', 'Segoe UI', sans-serif;
}

body {
	background-color: var(--ultra-light-yellow);
}

header {
	background-color: var(--medium-yellow);
	position: fixed;
	width: 100vw;
	height: 100px;
	padding: 20px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

header h1 {
	font-size: 3.5em;
	font-weight: 900;
	letter-spacing: -3px;
	cursor: pointer;
}

header nav {
	position: relative;
}

header nav ul {
	list-style-type: none;
	display: flex;
	gap: 40px;
}

header nav ul li a {
	text-decoration: none;
	color: black;
}

header nav ul li a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 650px) {

	header nav ul {
		position: fixed;
		top: 0;
		left: 130%;		
		padding-top: 120px;
		padding-left: 40px;
		width: 280px;
		height: 100vh;
		background-color: var(--medium-yellow);
		flex-direction: column;
		font-size: 1.5em;
		gap: 50px;
		box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
	}
	
	header nav.active ul {
		transition: .3s;
		left: calc(100vw - 280px);		
	}

	div#menu-hamburger {
		width: 60px;
		height: 35px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		cursor: pointer;
		position: relative;
		z-index: 1;
	}
	
	div#menu-hamburger div {
		width: 100%;
		height: 4px;
		background-color: black;
		transition: .3s;
	}

	header nav.active div#menu-hamburger :nth-child(1) {
		rotate: -45deg;
		translate: 0 15px;
	}

	header nav.active div#menu-hamburger :nth-child(2) {
		translate: 300%;
	}

	header nav.active div#menu-hamburger :nth-child(3) {
		rotate: 45deg;
		translate: 0 -15px;
	}

	.notes-container {
		justify-content: center;
	}
}


main {
	padding: 125px 30px 100px;
	max-width: 1100px;
	margin: auto;
}

main section.new-note {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
  flex-wrap: wrap;
	padding-bottom: 25px;
	border-bottom: 3px solid var(--medium-yellow);
	margin-bottom: 25px;
}

main section.new-note h2 {
	font-size: 2.5em;
	line-height: 1.05em;
	width: 350px;
	margin-bottom: 10px;
}

main section.new-note h2 span {
	color: var(--medium-blue);
	font-weight: 900;
	font-size: 1.5em;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.create-note {
	padding: 10px 20px;
	font-size: 1.2em;
	cursor: pointer;
	background-color: var(--medium-yellow);
	border: var(--border);
	border-radius: 0.5em;
	box-shadow: var(--box-shadow);
	transition: 0.2s;
}

.create-note:hover {
	background-color: var(--light-yellow);
	box-shadow: var(--box-shadow-hover);
}

main section.notes h3 {
	font-size: 1.8em;
	font-weight: 700;
}

.notes-container {
  margin: 20px auto;
	margin-top: 20px;
	display: flex;
  flex-wrap: wrap;
	gap: 10px;
}

.note {
  width: 240px;
	border-radius: 0.5em;
	overflow: hidden;
	transition: 0.2s;
  background-color: var(--light-yellow);
	box-shadow: var(--box-shadow);
	border: var(--border);
  height: 100%;
}

.note:hover {
	box-shadow: var(--box-shadow-hover);
}

.note .note-title {
	padding: 8px;
  font-size: 1.2em;
  font-weight: 700;
	border-bottom: var(--border);
	background-color: var(--medium-yellow);
}

.note .note-content {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note .note-content p {
	margin-bottom: 10px;
}

.note .note-title h4:focus,
.note .note-content p:focus {
  outline: none;
  border-bottom: 1px solid var(--dark-gray);
}

.note .note-content .action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.note .note-content .action-buttons button {
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: var(--medium-yellow);
	border: var(--border);
  cursor: pointer;
	transition: .3s;
}

.note .note-content .action-buttons button:hover {
	background-color: var(--light-yellow);
}

section#create-new-note,
div.container-create-new-note {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  z-index: 999;
}

section#create-new-note {
  display: none;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
}

div.container-create-new-note {
	overflow: hidden;
	border-radius: 1em;
  background-color: var(--light-yellow);
	border: var(--border);
	box-shadow: var(--box-shadow);
}

div.create-new-note-header {
	height: 40px;
	width: 100%;
	background-color: var(--medium-yellow);
	border-bottom: var(--border);
	display: flex;
	justify-content: flex-end;
}

div.create-new-note-header button {
	background: none;
	border: none;
	font-size: 1.5em;
	padding: 0 .5em;
	cursor: pointer;
}

div.container-create-new-note form {
	padding: 25px 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

div.container-create-new-note form input:not(.create-note),
div.container-create-new-note form textarea {
  font-size: 1.2em;
  padding: 5px;
  outline: none;
	border: none;
}

div.note-color {
	padding-bottom: 1em;
	position: relative;
	display: flex;
	position: relative;
	justify-content: space-between;
}

div.container-create-new-note input[type="radio"] {
	margin-left: .7em;
}

div.container-create-new-note input[type="radio"] + label {
	width: 40px;
	height: 40px;
	translate: -20px;
	border: var(--border);
	border-radius: 5px;
	cursor: pointer;
	transition: .2s;
}

div.container-create-new-note input[type="radio"]:checked + label {
	box-shadow: var(--box-shadow);
}

input[type="radio"] + label[for="yellow"] {
	background-color: var(--medium-yellow);
}

input[type="radio"]#blue + label[for="blue"] {
	background-color: var(--medium-blue);
}

input[type="radio"]#pink + label[for="pink"] {
	background-color: var(--medium-pink);	
}

input[type="radio"]#green + label[for="green"] {
	background-color: var(--medium-green);
}

.p-error {
  display: none;
  margin-top: -.3em;
  font-size: .8em;
  color: red;
}