* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.box-shadow {
	box-shadow: 0px 0px 2em #444;
}

body {
	color: #eee;
	background-color: #222;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 1.2em;
}

header {
	padding: 2em;
	background-color: #555;
	text-align: center;
	gap: 1em;
}

header p {
	max-width: 400px;
}

main {
	padding: 2em 2em;
}

.container-box {
	margin: 1em auto 4em;
	max-width: fit-content;
	outline: 1px solid #eee;
	outline-offset: 1em;
}

#box {
	width: 10em;
	height: 10em;
	background: linear-gradient(to bottom right, lightskyblue, darkblue);
	position: relative;
}

.container-box input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: none;
	cursor: pointer;
	width: 15rem;
	position: absolute;
}

.container-box input#top-r {
	top: 7.1em;
	left: 6.45em;
	rotate: 90deg;
}
.container-box input#top-l {
	top: -1.15em;
	right: -1.8em;
}
.container-box input#bottom-r {
	bottom: -1.1em;
	right: -1.9em;
	rotate: 180deg;
}
.container-box input#bottom-l {
	bottom: 7.2em;
	left: -10em;
	rotate: -90deg;
}

.container-box input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	margin-top: -12px;
	background-color: lightseagreen;
	border-radius: 50%;
	height: 15px;
	width: 15px;
}

.container-css {
	max-width: 500px;
	padding: 1em;
	margin: 1em auto;
	background-color: #555;
	flex-direction: row;
}

.container-css code {
	background-color: #222;
	padding: 0.5em;
}

.container-css button {
	background-color: #eee;
	border: none;
	padding: 0.56em;
	cursor: pointer;
}

.container-css button:hover {
	background-color: #ddd;
}
