:root {
  --background-color: #4C1A57;
  --primary-black: #ACA885;
  --secondary-black: #3d004b;
  --text-color: #333;
  --destaque-1: #7180B9;
  --destaque-2: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.max-container {
  width: 100%;
  padding: 2rem;
  display: flex;
  gap: 1rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

aside,
header,
main {
  padding: 2rem;
  background-color: var(--primary-black);
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
}

aside {
  min-width: 350px;
}

aside nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

aside nav ul li,
aside nav ul li a {
  width: 100%;
  padding: 0.8rem 1rem;
  background-color: var(--secondary-black);
  border-radius: .5rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: filter .2s;
}

aside nav ul li:hover {
  filter: brightness(150%);
}

aside .manoel-gomes img {
  width: 250px;
  bottom: 0;
  position: fixed;
  animation: manoel 5s infinite;
}

@keyframes manoel {
  0% {
    bottom: -100%;
  }

  50% {
    bottom: 0;
  }

  90% {
    bottom: 0;
  }

  100% {
    bottom: -100%;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 3rem;
}

.search-bar input {
  padding: 0.5rem;
  background: none;
  color: var(--text-color);
  border: none;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 1px solid var(--text-color);
  outline: none;
}

.search-bar input::placeholder {
  color: var(--text-color);
}

.search-bar button {
  background-color: var(--destaque-1);
  color: var(--text-color);
  border-radius: 0.5rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  cursor: pointer;
  transition: .2s;
}

.search-bar button:hover {
  opacity: 0.8;
}

.container-categoria {
  overflow: auto;
  border: 2px solid var(--secondary-black);
  border-left: 10px solid var(--destaque-2);
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.container-categoria-produtos {
  width: clamp(520px, 300px, 800px);
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  gap: 1rem;
  padding: 0.8rem;
}

.container-categoria::-webkit-scrollbar {
  display: none;
}

.container-produto {
  background-color: #eae7cd;
  border: 2px solid var(--background-color);
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 0.5rem var(--background-color);
  transition: box-shadow .2s;
}

.container-produto:hover {
  box-shadow: 0 0 1rem var(--background-color);
}

.container-produto-img {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-produto-img img {
  height: 100%;
  object-fit: cover;
}

.container-produto-infos {
  padding: 0 1rem 1rem;
}

.container-produto-infos h3 {
  font-size: 1.6rem;
}