* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
}

section {
  width: 75%;
  height: 90%;
  margin: auto;
  overflow: hidden;
  border: 2px solid;
  border-radius: 1rem;
}

#draggable-space {
  position: relative;
}

.drag {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  cursor: grab;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  background: lightseagreen;
}
.red {
  background: rgb(255, 164, 164);
}
.yellow {
  background: rgb(238, 238, 136);
}

#draw-space

.point {
  position: absolute;
  background-color: black;
  width: 5px;
  height: 5px;
}